body, html {
  background: #ffffe0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

input, button {
  width: 100%;
  max-width: 300px;
  margin: 10px auto;
  display: block;
}

/* canvas { */
  /* cursor: none; */
/* } */

.comment {
  background: rgba(255, 255, 255, 0.8);
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  position: absolute;
  transform: translate(-50%, -50%);
}